/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem; /*56px*/

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 152;
  --first-color: hsl(var(--hue), 24%, 32%);
  --first-color-alt: hsl(var(--hue), 24%, 28%);
  --first-color-light: hsl(var(--hue), 24%, 66%);
  --first-color-lighten: hsl(var(--hue), 24%, 92%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 55%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Inter';
  --big-font-size: 3.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal:100;

}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --big-font-size: 1.75rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body,
button,
input,
textarea{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: 5rem 0 0 0; 
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s;
}


button{
  cursor: pointer;
  border: none;
  outline: none;
}

h1,h2,h3{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*=============== MODAL ===============*/

/* Basic styling for modal and buttons */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    background-color: rgba(0, 0, 0, 0.247); /* Black w/ opacity */
    justify-content: center; 
    align-items: center; 
    z-index: var(--z-modal); /* Ensuring it is above all content */
  }

/* Content of the modal */
.modal__content {
    background-color: var(--container-color); /* Use container color */
    padding: 2rem;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
    position: relative; /* For the close button */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    animation: fadeIn 0.3s ease-in-out; /* Adding a smooth fade-in effect */
  }

/* Responsive design for mobile and desktop */
@media (max-width: 768px) {
  .modal__content {
    width: 90%; /* More space for mobile screens */
  }
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.modal__logout-button {
  display: flex;
  gap: 15px; 
  justify-content: center;
  margin-top: 1rem;
}

.modal__logout-button--black {
    background-color: var(--first-color);
    color: white;
    border: none;
    padding: 0.7rem 3rem;
    border-radius: 25px;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }

.modal__logout-button--black:hover {
  background-color: var(--first-color-alt);
}

.modal__logout-button--outline {
    background-color: transparent;
    color: var(--first-color);
    border: 2px solid var(--first-color);
    padding: 0.7rem 2.5rem;
    border-radius: 25px;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

.modal__logout-button--outline:hover {
  background-color: var(--first-color-alt);
  color: #fff;
}


.modal.show {
    display: flex;
    animation: fadeIn 0.3s ease-in-out;
  }

/* Close Button */
.modal__close {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: var(--text-color);
  cursor: pointer;
}

.modal__close:hover {
  color: var(--first-color); /* Change color on hover to indicate it’s clickable */
}



.modal.show {
  display: flex;
}

.modal__content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  position: relative;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal__logout-buttons {
  margin-top: 20px;
}

.modal__logout-button--outline {
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
}

.modal__logout-button--black {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width: 576px){
  .modal__content{
    margin: auto;
    width: 380px;
    border-radius: 1.25rem;
  }

  .modal__img{
    width: 170px;
  }
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme{
  --first-color-dark: hsl(var(--hue), 8%, 20%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 75%);
  --body-color: hsl(var(--hue), 8%, 12%);
  --container-color: hsl(var(--hue), 8%, 16%);
}

/*========== Button Dark/Light ==========*/
.change-theme{
  color: var(--title-color);
  font-size: 1.15rem;
  cursor: pointer;
}

/*========== Navigation Bar ==========*/
.nav__btns{
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__logout-button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .7rem 2.5rem;
  border-radius: 10rem;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.3s ease;
  border: 2px solid var(--first-color);
}

.nav__logout-button:hover {
  background-color: var(--first-color-alt) ; /* Slightly lighter black on hover */

}


/*========== Color changes in some parts of the website, in dark theme 
==========*/

.dark-theme .steps__bg,
.dark-theme .questions{
  background-color: var(--first-color-dark);
}

.dark-theme .product__circle,
.dark-theme .footer__subscribe{
  background-color: var(--container-color);
}

.dark-theme .scroll-header{
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 4%, .3);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section{
  padding: 5.5rem 0 1rem;
}

.section__title,
.section__title-center{
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  line-height: 140%;
}

.section__title-center{
  text-align: center;
}

.container{
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid{
  display: grid;
}

.main{
  overflow: hidden; /*For animation*/
}

/*=============== HEADER ===============*/
.header{
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: .4s; /*For animation dark mode*/
}

/*=============== NAV ===============*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close{
  color: var(--title-color);
}

.nav__logo{
  
  font-weight: 700;
  letter-spacing: -1px;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  transition: .3s;
}

.nav__logo-icon{
  font-size: 1.15rem;
  color: var(--first-color);
}

.nav__logo:hover{
  color: var(--first-color);
}

.nav__toggle{
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    background-color: var(--container-color);
    width: 80%;
    height: 100%;
    top: 0;
    right: -100%;
    box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0 1rem;
    transition: .3s;
    z-index: var(--z-fixed);
  }
}

.nav__close{
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link{
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav__link:hover{
  color: var(--first-color);
}

/* Show menu */
.show-menu{
  right: 0;
}

/* Change background header */
.scroll-header{
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .1);
}

/* Active link */
.active-link{
  position: relative;
  color: var(--first-color);
}

.active-link::after{
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: var(--first-color);
}

/*=============== ADMINPROFILE ===============*/
.admin-profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 150px 20px; /* Increase the top padding */
  max-width: 800px;
  margin: 0 auto;
}


.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--title-color);
}
.profile-image-section {
    flex: 1;
    max-width: 300px;
    text-align: center;
}

.profile-image-container {
    display: flex;
    align-items: center;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-role p {
    font-size: 14px;
    color: var(--text-color-light);
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-form-section input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile-form-section label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    color: var(--text-color-light);
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--text-color-light);
    font-size: 14px;
    width: 100%;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

#edit-btn, #update-btn, #upload-btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#edit-btn {
    background-color: #007BFF;
    color: white;
}

#update-btn {
    background-color: #28a745;
    color: white;
}

#upload-btn {
    background-color: #343a40;
    color: white;
    margin-top: 10px;
}

#edit-btn:hover, #update-btn:hover, #upload-btn:hover {
    background-color: #0056b3;
}

/*==================== Styles for Student Profiles ====================*/

.header-container {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space between elements */
  align-items: center; /* Align items vertically */
  padding: 100px 5px 20px 30px;
}


.profiles-table {
  width: 100%; /* Full width */
  border-collapse: collapse; /* Merge borders */
}

.profiles-table th, .profiles-table td {
  padding: 2px;
  border: 1px solid #ccc; /* Cell border */
  text-align: left; /* Left align text */
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .profiles-table {
      display: block; /* Enable horizontal scrolling */
      overflow-x: auto; /* Allow horizontal scrolling */
  }

  .profiles-table th, .profiles-table td {
      display: block; /* Stack cells */
      text-align: right; /* Right align text */
  }

  .profiles-table th {
      text-align: left; /* Header text alignment */
      position: relative; /* For label display */
  }

  .profiles-table td::before {
      content: attr(data-label); /* Show header label for each cell */
      position: absolute; /* Position labels */
      left: 0; /* Align to left */
      width: 50%; /* Label width */
      padding-left: 10px; /* Space for label */
      font-weight: bold; /* Bold label text */
      text-align: left; /* Left align label text */
  }

  .profiles-table td {
      border: none; /* No border for cells */
      position: relative; /* For positioning labels */
      padding-left: 50%; /* Space for labels */
  }
}

/*==================== Search Container ====================*/
.search-container {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
  margin-top: 20px; /* Space above the search */
}

.mood-tracker-button {
  background-color: var(--first-color);
  color: #fff; /* Text color */
  padding: 10px 15px; /* Button padding */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  margin-right: 15px; /* Space between button and input */
  font-weight: bold; /* Bold text */
  transition: background-color 0.3s; /* Smooth transition */
}

.mood-tracker-button:hover {
  background-color: var(--first-color-alt); /* Darker shade on hover */
}

.search-bar {
  padding: 10px 15px; /* Padding inside the input */
  border: 1px solid #ccc; /* Border color */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
  transition: border-color 0.3s; /* Smooth transition */
  flex: 1; /* Allow search bar to grow */
}

.search-bar:focus {
  border-color: #007BFF; /* Change border color on focus */
  outline: none; /* Remove default outline */
}

.modalstudentadd {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.modalstudentadd .modal-content {
  background-color: #fefefe; /* White background */
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px; /* Padding */
  border: 1px solid #888; /* Gray border */
  width: 80%; /* Could be more or less, depending on screen size */
}


/*=============== BUTTONS ===============*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #FFF;
  padding: .8rem 1.5rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
  transition: .5s;
}

.button:hover{
  background-color: var(--first-color-alt);
}

.button__icon{
  transition: .3s;
}

.button:hover .button__icon{
  transform: translateX(.25rem);
}

.button--flex{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  border-radius: 5rem;
  border: 2px solid var(--first-color);

}

.button--link{
  color: var(--first-color);
  font-weight: var(--font-medium);
}

.button--link:hover .button__icon{
  transform: translateX(.25rem);
}

.button__bordered {
  display: inline-block;
  background-color: transparent; /* Initially transparent background */
  color: var(--first-color); /* Text color matches the primary color */
  padding: .8rem 2.5rem;
  border-radius: 10rem;
  border: 2px solid var(--first-color); /* Outline the button with primary color */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.button__bordered:hover {
  background-color: var(--first-color); /* Full color on hover */
  color: #FFF; /* Text turns white when hovered */
}


/* Modal Styles for modalstudentedit */
.modalstudentedit {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

/* Modal Content for modalstudentedit */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 600px; /* Limit the maximum width */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow */
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Form Elements */
label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%; /* Full width */
  padding: 10px;
  margin-bottom: 15px; /* Space below inputs */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px; /* Rounded corners */
  box-sizing: border-box; /* Include padding and border in width */
}

button {
  background-color: #4CAF50; /* Green */
  color: white; /* White text */
  padding: 10px 15px;
  border: none; /* Remove borders */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
}

button:hover {
  background-color: #45a049; /* Darker green on hover */
}


/*=============== computing===============*/

#myImg {
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  .modal-content {
    margin: auto;
    display: block;
    width: 500%;
    max-width: 700px;
  }
  
  .modal-content{
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  .close {
    position: absolute;
    top: 190px;
    right: 35px;
    color: #f1f1f1;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
  
.about__container{
  row-gap: 2rem;
}

about__img{
  width: 280px;
  justify-self: center;
}

.about__title{
  margin-bottom: var(--mb-1);
}

.about__description{
  margin-bottom: var(--mb-2);
}

.about__details{
  display: grid;
  row-gap: 1rem;
  margin-bottom: var(--mb-2-5);
}

.about__details-description{
  display: inline-flex;
  column-gap: .5rem;
  font-size: var(--small-font-size);
}

.about__details-icon{
  font-size: 1rem;
  color: var(--first-color);
  margin-top: .15rem;
}

/*=============== STEPS ===============*/
.steps__bg{
  background-color: var(--first-color);
  padding: 3rem 2rem 2rem;
  border-radius: 1rem;
}

.steps__container{
  gap: 2rem;
  padding-top: 1rem;
}

.steps__title{
  color: #FFF;
}

.steps__card{
  background-color: var(--container-color);
  padding: 2.5rem 2rem 2rem 1.5rem;
  border-radius: 1rem;
}

.steps__card-number{
  display: inline-block;
  background-color: var(--first-color-alt);
  color: #FFF;
  padding: .5rem .75rem;
  border-radius: .25rem;
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1-5);
  transition: .3s;
}

.steps__card-title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.steps__card-description{
  font-size: var(--small-font-size);
}

.steps__card:hover .steps__card-number{
  transform: translateY(-.25rem);
}

/*=============== PRODUCTS ===============*/


.product__description{
  justify-self: center;
}

.product__container{
  padding: 3rem 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 3rem;
}

.product__card{
  display: grid;
  position: relative;
}

.product__img{
  position: relative;
  width: 120px;
  justify-self: center;
  margin-bottom: var(--mb-0-75);
  transition: .3s;
}

.product__title,
.product__price{
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.product__title{
  margin-bottom: .25rem;
}


.product__circle{
  width: 90px;
  height: 90px;
  background-color: var(--first-color-lighten);
  border-radius: 50%;
  position: absolute;
  top: 18%;
  left: 5%;
}

.product__card:hover .product__img{
  transform: translateY(-.5rem);
}

/*=============== QUESTIONS ===============*/
.questions{
  background-color: var(--first-color-lighten);
}

.questions__container{
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.questions__group{
  display: grid;
  row-gap: 1.5rem;
}

.questions__item{
  background-color: var(--container-color);
  border-radius: .25rem;
}

.questions__item-title{
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.questions__icon{
  font-size: 1.25rem;
  color: var(--title-color);
}

.questions__description{
  font-size: var(--smaller-font-size);
  padding: 0 1.25rem 1.25rem 2.5rem;
}

.questions__header{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  padding: .75rem .5rem;
  cursor: pointer;
}

.questions__content{
  overflow: hidden;
  height: 0;
}

.questions__item,
.questions__header,
.questions__item-title,
.questions__icon,
.questions__description,
.questions__content{
  transition: .3s;
}

.questions__item:hover{
  box-shadow: 0 2px 8px hsla(var(--hue), 4%, 15%, .15);
}

/*Rotate icon, change color of titles and background*/
.accordion-open .questions__header,
.accordion-open .questions__content{
  background-color: var(--first-color);
}

.accordion-open .questions__item-title,
.accordion-open .questions__description,
.accordion-open .questions__icon{
  color: #FFF;
}

.accordion-open .questions__icon{
  transform: rotate(45deg);
}

::selection{
  color: #3e6553;
}
.wrapper{
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.wrapper .center-line{
  position: absolute;
  height: 100%;
  width: 4px;
  background: #3e6553;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row{
  display: flex;
}
.wrapper .row-1{
  justify-content: flex-start;
}
.wrapper .row-2{
  justify-content: flex-end;
}
.wrapper .row section{
  background: #3e6553;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}
.wrapper .row section::before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #3e6553;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before{
  right: -7px;
}
.row-2 section::before{
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon{
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #3e6553;
  font-size: 15px;
  box-shadow: 0 0 0 4px #3e6553, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}
.center-line .scroll-icon{
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1 section .icon{
  top: 15px;
  right: -60px;
}
.row-2 section .icon{
  top: 15px;
  left: -60px;
}
.row section .details,
.row section .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title{
  font-size: 20px;
  font-weight: 600;
}
.row section p{
  margin: 10px 0 17px 0;
}
.row section .bottom a{
  text-decoration: none;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.row section .bottom a:hover{
  transform: scale(0.97);
}
@media(max-width: 790px){
  .wrapper .center-line{
    left: 40px;
  }
  .wrapper .row{
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section{
    width: 100%;
  }
  .row-1 section::before{
    left: -7px;
  }
  .row-1 section .icon{
    left: -60px;
  }
}
@media(max-width: 440px){
  .wrapper .center-line,
  .row section::before,
  .row section .icon{
    display: none;
  }
  .wrapper .row{
    margin: 10px 0;
  }
}

/*=============== CONTACT ===============*/
.contact__container{
  row-gap: 3.5rem;
}

.contact__data{
  display: grid;
  row-gap: 2rem;
}

.contact__subtitle{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  margin-bottom: var(--mb-0-5);
}

.contact__description{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.contact__icon{
  font-size: 1.25rem;
}

.contact__inputs{
  display: grid;
  row-gap: 2rem;
  margin-bottom: var(--mb-2-5);
}

.contact__content{
  position: relative;
  height: 3rem;
  border-bottom: 1px solid var(--text-color-light);
}

.contact__input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 0;
  background: none;

  color: var(--text-color);

  
  border: none;
  outline: none;
  z-index: 1;
}

.contact__label{
  position: absolute;
  top: .75rem;
  width: 100%;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  transition: .3s;
}

.contact__area{
  height: 7rem;
}

.contact__area textarea{
  resize: none;
}

/*Input focus move up label*/
.contact__input:focus + .contact__label{
  top: -.75rem;
  left: 0;
  font-size: var(--smaller-font-size);
  z-index: 10;
}

/*Input focus sticky top label*/
.contact__input:not(:placeholder-shown).contact__input:not(:focus) + .contact__label{
  top: -.75rem;
  font-size: var(--smaller-font-size);
  z-index: 10;
}

/*=============== FOOTER ===============*/
footer {
  background-color: #d6d6d6;
}

.footer__container{
  row-gap: 3rem;
}

.footer__logo{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: var(--mb-2-5);
  transition: .3s;
}

.footer__logo-icon{
  font-size: 1.15rem;
  color: var(--first-color);
}

.footer__logo:hover{
  color: var(--first-color);
}

.footer__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1-5);
}

.footer__subscribe{
  background-color: var(--first-color-lighten);
  padding: .75rem;
  display: flex;
  justify-content: space-between;
  border-radius: .5rem;
}

.footer__input{
  width: 70%;
  padding: 0 .5rem;
  background: none;
  color: var(--text-color);
  border: none;
  outline: none;
}

.footer__button{
  padding: 1rem;
}

.footer__data{
  display: grid;
  row-gap: .75rem;
}

.footer__information{
  font-size: var(--small-font-size);
}

.footer__social{
  display: inline-flex;
  column-gap: .75rem;
}

.footer__social-link{
  font-size: 1rem;
  color: var(--text-color);
  transition: .3s;
}

.footer__social-link:hover{
  transform: translateY(-.25rem);
}

.footer__cards{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}
.footer__card{
  width: 35px;
}

.footer__copy{
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  margin: 5rem 0 1rem;
}

/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  background-color: var(--first-color);
  right: 1rem;
  bottom: -30%;
  display: inline-flex;
  padding: .5rem;
  border-radius: .25rem;
  z-index: var(--z-tooltip);
  opacity: .8;
  transition: .4s;
}

.scrollup__icon{
  font-size: 1rem;
  color: #FFF;
}

.scrollup:hover{
  background-color: var(--first-color-alt);
  opacity: 1;
}

/* Show Scroll Up*/
.show-scroll{
  bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  background: hsl(var(--hue), 4%, 53%);
}

::-webkit-scrollbar-thumb{
  background: hsl(var(--hue), 4%, 29%);
  border-radius: .5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home__img{
    width: 180px;
  }
  .home__title{
    font-size: var(--h1-font-size);
  }

  .steps__bg{
    padding: 2rem 1rem;
  }
  .steps__card{
    padding: 1.5rem;
  }

  .product__container{
    grid-template-columns: .6fr;
    justify-content: center;
  }
}

/* For medium devices */
@media screen and (min-width: 576px){
  .steps__container{
    grid-template-columns: repeat(2, 1fr);
  }

  .product__description{
    padding: 0 4rem;
  }
  .product__container{
    grid-template-columns: repeat(2, 170px);
    justify-content: center;
    column-gap: 5rem;
  }

  .footer__subscribe{
    width: 400px;
  }
}

@media screen and (min-width: 767px){
  body{
    margin: 0;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;
  }
  .nav__toggle,
  .nav__close{
    display: none;
  }
  .nav__list{
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav__menu{
    margin-left: auto;
  }

  .home__container,
  .about__container,
  .questions__container,
  .contact__container,
  .footer__container{
    grid-template-columns: repeat(2, 1fr);
  }
  
  .home{
    padding: 10rem 0 5rem;
  }
  .home__container{
    align-items: center;
  }
  .home__img{
    width: 280px;
    order: 1;
  }
  .home__social{
    top: 30%;
  }

  .questions__container{
    align-items: flex-start;
  }

  .footer__container{
    column-gap: 3rem;
  }
  .footer__subscribe{
    width: initial;
  }
}

/* For large devices */
@media screen and (min-width: 992px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .section{
    padding: 8rem 0 1rem;
  }
  .section__title,
  .section__title-center{
    font-size: var(--h1-font-size);
  }

  .section__title-centerr{
    font-size: var(--h3-font-size);
  }

  .home{
    padding: 13rem 0 5rem;
  }
  .home__img{
    width: 350px;
  }
  .home__description{
    padding-right: 7rem;
  }

  .about__img{
    width: 380px;
  }

  .steps__container{
    grid-template-columns: repeat(3, 1fr);
  }
  .steps__bg{
    padding: 3.5rem 2.5rem;
  }
  .steps__card-title{
    font-size: var(--normal-font-size);
  }

  .product__description{
    padding: 0 16rem;
  }
  .product__container{
    padding: 4rem 0;
    grid-template-columns: repeat(3, 185px);
    gap: 4rem 6rem;
  }
  .product__img{
    width: 160px;
  }
  .product__circle{
    width: 110px;
    height: 110px;
  }
  .product__title,
  .product__price{
    font-size: var(--normal-font-size);
  }

  .questions__container{
    padding: 1rem 0 4rem;
  }
  .questions__title{
    text-align: initial;
  }
  .questions__group{
    row-gap: 2rem;
  }
  .questions__header{
    padding: 1rem;
  }
  .questions__description{
    padding: 0 3.5rem 2.25rem 2.75rem;
  }

  .footer__logo{
    font-size: var(--h3-font-size);
  }
  .footer__container{
    grid-template-columns: 1fr .5fr .5fr .5fr;
  }
  .footer__copy{
    margin: 7rem 0 2rem;
  }
}

@media screen and (min-width: 1200px){
  .home__social{
    right: -3rem;
    row-gap: 4.5rem;
  }
  .home__social-follow{
    font-size: var(--small-font-size);
  }
  .home__social-follow::after{
    width: 1.5rem;
    right: -60%;
  }
  .home__social-link{
    font-size: 1.15rem;
  }

  .about__container{
    column-gap: 7rem;
  }

  .scrollup{
    right: 3rem;
  }
}